{% extends 'base.html' %}
{% load materialize_nav %}
{% load march_madness_tags %}

{% block content %}
    {% if PageTitle %}
        <h4 class="center">{{ PageTitle }}</h4>
        <div class="divider"></div>
    {% endif %}

{% for rnd in tournament.rounds.all %}
    <div class="row" style="display: inline-grid">
        <h5 style="margin-left: 1rem;">{{ rnd }}</h5>
    {% for match in matches|get_item:rnd %}
        {% render_match match %}
    {% endfor %}
    </div>
{% endfor %}

{% endblock %}
