{% extends 'base.html' %}
{% load materialize_nav %}
{% load march_madness_tags %}

{% block content %}
    {% if PageTitle %}
        <h5 class="center">{{ PageTitle }}</h5>
        <div class="divider"></div>
    {% endif %}

    {% for group in groups %}
        <div class="col s12 m4 l3 xl2">
            <div class="card-panel" style="padding: 16px;">
                <b>{{ group.name }}</b><br />
{#                Captain: {% render_user_image group.captain style='width:32px' %} {{ group.captain.first_name }} {{ group.captain.last_name }}<br />#}
                Captain: <a href="{% url 'march_madness:bracket' user=group.captain.username %}">{% render_user_chip group.captain show_full_name=True %}</a><br />
                Members:
                <ul style="margin-top: 0px;">
                {% for mem in group.members %}
{#                    <li style="margin-left: 1rem;">{% render_user_image mem style='width:32px' %}{{ mem.first_name }} {{ mem.last_name }} - {{ mem.score }}</li>#}
                    <li style="margin-left: 1rem;"><a href="{% url 'march_madness:bracket' user=mem.username %}">{% render_user_chip mem show_full_name=True %}</a> = {{ mem.score }}</li>
                {% endfor %}
                </ul>
                Total Score: {{ group.score }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
