{% load march_madness_tags %}
<div class="card-panel" style="width: 18rem; margin: 0.5rem; padding: 0.5rem;">
{% if match.date %}<p><b>Date:</b> {{ match.date }}</p>{% endif %}
{% if match.is_radio_form %}
    {% render_radio_match_form match %}
{% elif match.is_select_form %}
    {% render_select_match_form match %}
{% else %}
    {% if match.team1 %}{% display_team match.team1 match.round %}
        {% if match.victor %}
            {% if match.victor == match.team1 %}
                {% if match.user_guess.guess == match.team1 %}
                    <i class="material-icons green-text tooltipped" data-tooltip="Correct prediction" style="vertical-align: middle;">check</i>
                {% else %}
                    <i class="material-icons red-text tooltipped" data-tooltip="My prediction, incorrect" style="vertical-align: middle;">close</i>
                {% endif %}
            {% endif %}
        {% elif match.user_guess.guess == match.team1 %}
            <i class="material-icons grey-text tooltipped grey-text" data-tooltip="Prediction, winner unknown" style="vertical-align: middle;">check</i>
        {% endif %}
    {% elif match.parent_team1_guess %}
        {% display_team match.parent_team1_guess.guess match.round %}
        {% if match.user_guess.guess == match.parent_team1_guess.guess %}
            <i class="material-icons grey-text tooltipped" data-tooltip="Prediction, winner unknown" style="vertical-align: middle;">check</i>
        {% endif %}
    {% else %}-----{% endif %}
    <div class="divider"></div>

    {% if match.team2 %}{% display_team match.team2 match.round %}
        {% if match.victor %}
            {% if match.victor == match.team2 %}
                {% if match.user_guess.guess == match.team2 %}
                    <i class="material-icons green-text tooltipped" data-tooltip="Correct!" style="vertical-align: middle;">check</i>
                {% else %}
                    <i class="material-icons red-text tooltipped" data-tooltip="My prediction, incorrect" style="vertical-align: middle;">close</i>
                {% endif %}
            {% endif %}
        {% elif match.user_guess.guess == match.team2 %}
            <i class="material-icons grey-text tooltipped" data-tooltip="Prediction, winner unknown" style="vertical-align: middle;">check</i>
        {% endif %}
    {% elif match.parent_team2_guess %}
        {% display_team match.parent_team2_guess.guess match.round %}
        {% if match.user_guess.guess == match.parent_team2_guess.guess %}
            <i class="material-icons grey-text tooltipped" data-tooltip="Prediction, winner unknown" style="vertical-align: middle;">check</i>
        {% endif %}
    {% else %}-----{% endif %}
    <div class="divider"></div>
{% endif %}
</div>
