function post_ajax_match(){
    var frm = $("#match_{{ match.id }}_form");
    setup_ajax();
    $.ajax({
        type: frm.attr('method'),
        url: frm.attr('action'),
        data: frm.serialize(),
        success: function (data) {
            if(data['success']){
                M.toast({"html": "Successfully voted for '" + data['team'] + "'", "classes": 'rounded green'});
            } else {
                M.toast({"html": "Cannot vote! Invalid guess '" + data['team'] + "'!", "classes": 'red'});
            }
        },
        error: function(data) {
            M.toast({"html": "Cannot vote! Cannot connect to server!", "classes": 'red'});
        }
    });
}
