{% load materialize_nav %}
{% load march_madness_tags %}
{% if form %}
    <form id="match_{{ match.id }}_form" method="post" action="{% url "march_madness:user_prediction" %}">
        {% csrf_token %}

        {{ form.guess }}

    {% if match.round.round_number == match.num_rounds %}
        {% render_form_field form.team1_score %}
        {% render_form_field form.team2_score %}
    {% endif %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
    </form>
{% endif %}


<script type="text/javascript">
    $('#{{ form.guess.id_for_label }}').on('change', {% render_match_form_ajax_func match %});
    $('#{{ form.team1_score.id_for_label }}[type=number]').blur({% render_match_form_ajax_func match %});
    $('#{{ form.team2_score.id_for_label }}[type=number]').blur({% render_match_form_ajax_func match %});
</script>
